# IDE & Editor
.idea/
.vscode/
*.iml

# Keystore und sensitive Schlüssel
*.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# dependencies & Build
node_modules/
.expo/
c.expo/
web-build/
dist/
build/
*.log

# macOS
.DS_Store
*.pem

# Env files
.env*
.env*.local

# Native (nur, wenn nicht benötigt)
# /android
/ios

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo
